.section-two {
  display: flex;
  flex-direction: column;
}

.skill-text {
  text-align: center;
  margin-bottom: 1rem;
}

.skills-logo {
  display: flex;
 // flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.test-logo {
  margin: 0.5rem;
}

@media (max-width: 767px) {
  .skill-text {
    font-size: 1.5rem;
  }

  .skills-logo {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .test-logo {
    max-width: 50%;
    flex-basis: 50%;
  }
}
