<div class="section-cont" >
  <div class="cont-text" *ngIf="contState"  [@rotateInUpLeftOnEnter]  [@fadeOutLeftOnLeave]>
    <!-- contact-icon -->
    
    <img
      src="assets/contactMe-icon.svg"
      alt="Contact Icon"
      class="main-head-image"
    />

    <span class="main-head-color">  CONTACT ME </span>
  </div>
  <div class="cont-logos" *ngIf="contState" [@bounceInDownOnEnter] [@bounceOutDownOnLeave]>
    <!-- linkedin-icon -->
    <p>
      <a
        href=""
        onclick="window.open('https://www.linkedin.com/in/shaik-ahad-252719169/')"
        matTooltip="Open LinkedIn Profile"
        matTooltipPosition="below"
      >
      <img
        src="assets/linkedIn-icon.svg"
        onclick="window.open('https://www.linkedin.com/in/shaik-ahad-252719169/')"
        alt="LinkedIn Icon"
        class="contact-image"
       
      />
      LinkedIn</a>
    </p>
    <!-- mail-icon -->
    <p>
      <a
        href=""
        onclick="window.open('mailto:ahadpersonal69@gmail.com')"
        matTooltip="Send Mail"
        matTooltipPosition="below"
      >
        <img
          style="margin-left: -25px"
          src="assets/email-icon.svg"
          onclick="window.open('mailto:ahadpersonal69@gmail.com')"
          alt="Email Icon"
          class="contact-image"
        />
        Email
      </a>
    </p>
  </div>
</div>
