<div  class="section-educ">
  <div class="educ-text"  *ngIf="state" [@swingOnEnter] [@fadeOutOnLeave]>
    <img
      src="assets/education-head-icon.svg"
      alt="Education Icon"
      class="main-head-image"
    />
    <span class="main-head-color"> EDUCATION</span>
  </div>
  <div class="educ-dets"  >
    <p class="educ-desc" *ngIf="state" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
      <img
      src="assets/education-circle-icon.svg"
      alt="Education circle Icon"
      class="edu-circle-icon"
    />
      <strong>Rise Krishna Sai Gandhi Group of Insitutions</strong>
    </p>
    <p class="shift-left educ-desc" *ngIf="state" [@slideInLeftOnEnter] [@slideOutRightOnLeave]>Bachelor of Technology(CSE)</p>
    <p class="shift-left educ-desc" *ngIf="state" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
      <img
      src="assets/education-circle-icon.svg"
      alt="Education time Icon"
      class="edu-timer-icon"
    />2016-2020
    </p>

    <p class="educ-desc" *ngIf="state" [@slideInLeftOnEnter] [@slideOutLeftOnLeave]>
      <img
      src="assets/education-circle-icon.svg"
      alt="Education Icon"
      class="edu-circle-icon"
    />
      <strong>Royal Junior College</strong>
    </p>
    <p class="shift-left educ-desc" *ngIf="state" [@slideInRightOnEnter] [@slideOutLeftOnLeave]  >MPC(Maths)</p>
    <p class="shift-left educ-desc" *ngIf="state" [@slideInLeftOnEnter] [@slideOutRightOnLeave] >
      <img
      src="assets/education-timer-icon.svg"
      alt="Education time Icon"
      class="edu-timer-icon"
    />2014-2016
    </p>

    <p class="educ-desc" *ngIf="state" [@slideInDownOnEnter] [@slideOutDownOnLeave]>
      <img
      src="assets/education-circle-icon.svg"
      alt="Education circle Icon"
      class="edu-circle-icon"
    /><strong>Royal High School</strong>
    </p>
    <p class="shift-left educ-desc" *ngIf="state"  [@slideInRightOnEnter] [@slideOutLeftOnLeave]>SSC(Maths,Science,etc..)</p>
    <p class="shift-left educ-desc" *ngIf="state"  [@slideInLeftOnEnter] [@slideOutRightOnLeave]>
      <img
      src="assets/education-timer-icon.svg"
      alt="Education time Icon"
      class="edu-timer-icon"
    />2013-2014
    </p>
  </div>
</div>
