
.edu-circle-icon{
  width: 40px;
  height: 40px;
}

.edu-timer-icon {
  width: 25px;
  height: 25px;
}
.shift-left {
  margin-left: 2.5rem;
}

 .section-educ {
  display: flex;
  flex-direction: column;
  
}

.educ-dets {
  text-align: left;
  margin-left:20px;
}

@media (min-width: 576px) {
  .educ-text{
    text-align: center;
  }

  .educ-dets {
    text-align: left;
    margin-left:20px;
  }
}

@media (min-width: 768px) {
  
  .educ-dets {
    text-align: left;
    margin-left:40px;
  }
}

@media (min-width: 992px) {
  .educ-text{
    text-align: center;
  }
  .educ-dets {
    text-align: left;
    margin-left:30vh;
  }
}

@media (min-width: 1200px) {
  .section-educ {
    align-items: center;
    text-align: center;
  }
  .educ-dets {
    text-align: left;
    margin-left:40vh;
  }
}
