.mat-proj-desc {
  width: 100%;
  text-align: justify;
}

.mat-expansion-panel {
  width: 100%;
  max-width: 700px; 
  margin-left: 20px; 
  margin-top: 5px;
}

.gradient-button {
  margin-left:20px;
  margin-top: 5px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.gradient-button:hover {
  transform: scale(1.1);
}

.section-proj{
  display: flex;
  flex-direction: column;
}

.proj-head {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.exp-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  text-align: left;
}
.exp-desc p{
  text-align: left;
  width: 100%;
  max-width: 700px; 
  margin-left: 20px; 
}

.exp-desc p:nth-child(n+2) {
  text-align: justify;
}
@media (min-width: 576px) {
  .proj-head,.exp-desc{
    align-items: flex-start;
    text-align: center;
  }

  .exp-desc {
    text-align:left;
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .proj-head{
    align-items: center;
    text-align: center;
  }

  .exp-desc {
    text-align:left;
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .proj-head{
    align-items: center;
    text-align: center;
  }

  .exp-desc {
    text-align: left;
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .proj-head{
    align-items: center;
    text-align: center;
  }

  .exp-desc {
    text-align: left;
    margin-left: 20px;
  }
  
}
