// .sub-head{
//  //opacity: 0;
// //   filter: blur(5px);
//   transform: translateX(20px);
//   transition: all 1s;
//   transition-delay: 0.5s;
// }

// .show{
//     opacity: 0;
//    filter: blur(5px);
//     transform: translateX(0);
//   }

  .sub-head{
    justify-content: left;
    margin-left:40px;
    text-align: justify;
  }
  
  .about-logo{
    padding:10px;
    justify-items: center; /* Align items horizontally in the center */
    align-items: center; /* Align items vertically in the center */
    text-align: center;
  }

  .section {
 
    display: grid;
    
    &-one {
      height: 50vh;
      grid-template-rows: 0.3fr 1fr; 
    }
    
    
  }
 .about-desc{
width:100vh;
  }

  @media (max-width: 767px) {
    .sub-head{
      justify-content: left;
      margin-left: 40px;
    }
    .about-desc{
      width:60vh;
      text-align: justify;
      flex:1 1 100%;
        }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .sub-head{
      text-align: left;
      margin-left: 40px;
    }
    .about-desc{
      width:80vh;
      text-align: justify;
        }
  }
  
  @media (min-width: 1024px) {
    .sub-head {
      justify-content: left;
      margin-left:40px;
    }
    .about-desc{
      width:100vh;
      text-align: justify;
        }
  }

  
  // .show {
  //   opacity: 1;
  //   visibility: visible;
  //   transition: opacity 0.5s ease-in-out;
  //   transform: translateY(-20px);
  //   transition-duration: 0.3s;
  //   transition-timing-function: ease-in-out;
  // }
  
  // .hide {
  //   opacity: 0;
  //   visibility: hidden;
  //   transform:translate(0px);
  //   transition: opacity 0.1s ease-in-out;
  //   transition-duration: 0s;
  // }
 